<footer class=" py-5 mi-footer">
    <div class="container">
        <p class="m-0 text-center text-white">Nuñez Ana 3x.xxx.xxx // Villalba Matías 37.099.104</p>
        <p class="m-0 text-center text-white">Programación Web II - UNLaM</p>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>