<!DOCTYPE html>
<html lang="es">
<head>
    <title>Pregunta2</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="icon" href="/public/imagenes/logo.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/d29453ffcf.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/home.css">
</head>

<body {{#mapa}}onload="loadMap()"{{/mapa}}>
<nav class="navbar navbar-expand-sm navbar-dark mi-navbar">
    <div class="container-fluid">
        <a class="navbar-brand " href="/lobby"><img width="60px" src="/public/imagenes/logo3.png" alt="Logo preguntados"></a>
        {{#userName}}
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mynavbar">
                <div class="ms-auto">
                    <a href="/user&name={{userName}}" class="btn btn-sm btn-dark p-1 m-2">
                  
                    <p class="py-0 mb-0"> {{userName}}</p>
                    </a>
                </div>

                <form class="d-flex" method="post" action="Home/logout" enctype="multipart/form-data">
                    <button class="btn btn-sm btn-primary p-1 m-2">
                    
                        <p class="py-0 mb-0">Cerrar sesión</p>
                    </button>
                </form>
            </div>
        {{/userName}}
    </div>
</nav>

