<main class="container py-5 d-flex align-items-center justify-content-center">
    <section class="content row rounded-3">
        <article class="col-lg-8">

        <h2 class="p-1 text-center  estilo-personalizado">PREGUNTA2</h2>
            <h1 class="p-1 text-center"><img class="imgPregunta2" src="/public/imagenes/logo1.png" alt="logoPregunta2"></h1>
            <h1 class="p-1 text-center">Comienza a jugar y diviertete!</h1>

        </article>
        <article class="col-lg-4 p-4">
            <form class="d-flex flex-column my-3" method="post" action="/Home/login" enctype="multipart/form-data">
                <input name="user" aria-label="nombreUsuario" class="form-control mb-3" type="text"
                       placeholder="Usuario">
                <input name="pass" aria-label="contrasenia" class="form-control mb-3" type="password"
                       placeholder="Contraseña">
                <button class="btn btn-primary1">Iniciar sesión</button>
            </form>
            <p>¿No estás registrado? <a href="/registro">Registrate</a></p>
        </article>
    </section>
</main>