<main class="py-5">
<div class="content container px-lg-5 p-4  rounded-3">
 
    <h1 class="text-center display-3 fw-bold saludo">¡{{welcome}} {{userName}}!</h1>
     <h1 class="p-1 text-center"><img class="imgPregunta2gif" src="/public/imagenes/logo2.gif" alt="logoPregunta2gif"></h1>
    <h2 class="text-center">Tu maximo puntaje es: {{puntaje_max}}</h2>
    <article class="d-grid gap-2 col-6 mx-auto mt-4">
        <a href="/partida" class="btn btn-primary1 btn-lg">Nueva partida</a>
        <a href="/ranking" class="btn btn-outline-primary1 btn-lg">Ver ranking de jugadores</a>
        <a href="/addQuestion" class="btn btn-outline-primary1 btn-lg">Sugerir preguntas</a>
    </article>
        <article class="mx-auto">
            <br>
            <h3>Tus ultimas partidas</h3>

   <button class="botonPuntaje" id="toggleTablaBtn">Mostrar/Esconder Tabla</button>

            <table class="table table-dark table-hover tabla-container tabla-expandida" id="tablaContainer">
                <thead>
                <tr>
                    <th>Id Partida:</th>
                    <th>Score:</th>
                    <th>Fecha y hora:</th>
                </tr>
                </thead>
                <tbody>{{#games}}
                    <tr>
                        <td># {{id}}</td>
                        <td>{{puntaje}} puntos</td>
                        <td>{{fecha}}</td>
                    </tr>
                {{/games}}</tbody>
            </table>
        </article>
    </div>
        <div class="modal" id="lostModal">
            <section class="modal-dialog">
                <article class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Partida terminada</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body text-center">
                        <h5 class="fw-bold">¡Vuelve a intentarlo!</h5>
                        <h5 class="fw-bold">{{question}}</h5>
                        <p>La respuesta correcta era: </p>
                        <h5 class="fw-bold text-danger">{{correctAnswer}}</h5>
                        <p>Tu puntaje</p>
                        <h5 class="fw-bold">{{userCorrects}}</h5>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </article>
            </section>
        </div>
    <div class="modal" id="reportModal">
        <section class="modal-dialog">
            <article class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Partida finalizada</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body text-center">
                    <h5 class="fw-bold">¡Lamentamos el inconveniente!</h5>
                    <p>La pregunta sera revisada por nuestros editores y no sera mostrada hasta que termine el proceso de evaluacion</p>
                    <p>Muchas gracias por tu ayuda.</p>
                    <p>Tu puntaje:</p>
                    {{#userCorrects}}
                    <h5 class="fw-bold">{{userCorrects}}</h5>
                    {{/userCorrects}}
                    {{^userCorrects}}
                        <h5 class="fw-bold">0</h5>
                    {{/userCorrects}}
                    <h4>¡Iniciá una nueva partida!</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </article>
        </section>
    </div>

</main>
{{#showLostModal}}
    <script src="/public/js/lobbyLostModal.js"></script>
{{/showLostModal}}
{{#showReportModal}}
    <script src="/public/js/lobbyReportModal.js"></script>
{{/showReportModal}}

<script>
document.getElementById('toggleTablaBtn').addEventListener('click', function() {
  var tablaContainer = document.getElementById('tablaContainer');
  tablaContainer.classList.toggle('tabla-expandida');
  tablaContainer.classList.toggle('tabla-contraida');
});
</script>